/* Body font */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";







/* body {
  font-family: 'Inter', sans-serif;
} */

/* Logo font class */
.logo-font {
  font-family: 'Bitcount Grid Double', cursive;
}

.header-font {
  font-family: "Roboto Slab", serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar globally for elements with .no-scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}



/* for chat bot */
@keyframes slide-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}


/* For Our Developer  */

@keyframes glow-amber {
  0% {
    text-shadow:
      0 0 4px rgba(251, 190, 36, 0.538),
      0 0 8px rgba(251, 191, 36, 0.5),
      0 0 16px rgba(251, 191, 36, 0.4);
    opacity: 1;
  }

  50% {
    text-shadow:
      0 0 8px rgba(245, 189, 49, 0.8),
      0 0 16px rgba(249, 194, 57, 0.7),
      0 0 32px rgba(249, 194, 53, 0.6);
    opacity: 0.95;
  }

  100% {
    text-shadow:
      0 0 4px rgba(244, 193, 63, 0.6),
      0 0 8px rgba(250, 196, 62, 0.5),
      0 0 16px rgba(244, 194, 69, 0.4);
    opacity: 1;
  }
}

.animate-glow-amber {
  animation: glow-amber 2.5s ease-in-out infinite;
}